@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #333333;
  --foreground: #D6D2BD;
  --accentColor: #F15025;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333; 
    --foreground: #D6D2BD;
    --accentColor: #F15025;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'JetBrains Mono', monospace;
}

/* .sticky {
  position: sticky;
  top: 8px;
}

.transition-opacity {
  transition: opacity 0.5s ease-out;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
} */

.greeting-comment {
  color: #2DB500
}

.greeting-json-brace {
  color: #D73A49
}

.greeting-json-key {
  color: #6F42C1
}

.greeting-json-value {
  color: var(--accentColor)
}

.tabview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: var(--foreground);
  color: var(--background);
}

.tabview-item {
  padding: 0.3rem 1rem;
  border-radius: 9999px;
  display: inline-block;
}

.tabview-item:hover {
  background: var(--accentColor);
  color: var(--background);
  transition: 0.29s ease-in;
  border-radius: 9999px;
}

.tabview-padding {
  padding: 0rem;
}

.header {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

/* Responsive styles */
@media (max-width: 900px) {
  :root {
    font-size: 0.75rem;
  }
  .tabview {
    flex-direction: column;
    padding: 1rem;
  }

  .tabview-item {
    padding: 0.1rem 0.8rem;
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .logo {
    visibility: hidden;
  }

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}