@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333; 
    --foreground: #D6D2BD;
    --accentColor: #F15025;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'JetBrains Mono', monospace;
}

.navigation-menu {
  background: var(--foreground);
  color: var(--background);
}

.navigation-menu-item:hover {
  background: var(--accentColor);
  color: var(--foreground);
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

.greeting-comment {
  color: #2DB500
}

.greeting-json-brace {
  color: #D73A49
}

.greeting-json-key {
  color: #6F42C1
}